:root {
    --fundalPanel: #000660;
    --conturContrast: #ac7900;
    --font: Palatino, URW Palladio L, serif;
}

body {
    background-color: #000c3d;
    margin: 0;
}

.TopBarStyle {
    background-color: var(--fundalPanel);
    width: 100%;
    position: absolute;
    border-right: 2px solid var(--conturContrast);
    border-left: 2px solid var(--conturContrast);
    display: flex;
}

.MeniuStyle {
    height: 8%;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0px 5px 18px 0px #000000;
    border-bottom: 2px solid var(--conturContrast);
}

.RunDetailBarStyle {
    bottom: 0px;
    border-top: 2px solid var(--conturContrast);
    border-radius: 25px 25px 0px 0px;
    overflow: scroll;
    height: 15%;
}

.BarStyle {
    background-color: var(--fundalPanel);
    height: 77%;
    width: 15%;
    padding-top: 4%;
    position: absolute;
    overflow: scroll;
}

.SideBarStyle {
    border-right: 2px solid var(--conturContrast);
}

.DetailBarStyle {
    border-left: 2px solid var(--conturContrast);
    right: 0;
}

span {
    color: white;
    font-family: var(--font);
}
    
.TextTitlu {
    padding: 10px;
    font-style: italic;
    font-size: 32px;
    font-weight: bold;
}

.TextSelect {
    font-size: 20px;
    padding: 20px;
}

.TextSubtitlu {
    font-size: 24px;
    padding-left: 25px;
    padding-top: 10px;
}

    .TextSubtitlu span {
        text-decoration: underline;
    }

.TextButon {
    font-size: 18px;
    padding: 5px;
}

.selectorStyle {
    height: fit-content;
    margin-top: 20px;
    border: 2px solid var(--conturContrast);
    border-radius: 10px;
    width: 150px;
    font-family: var(--font);
    box-shadow: inset 0 0 10px #feb362;
    padding-left: 15px;
    font-size: 16px;
}

.CheckBoxStyle {
    display: flex;
    padding-left: 20px;
}

input[type="checkbox"] {
    width: 20px;
}

.butonStyle {
    padding: 5px;
    border: 2px solid var(--conturContrast);
    border-radius: 10px;
    margin-left: 15%;
    background-color: var(--fundalPanel);
}

    .butonStyle:hover {
        background-color: #0312e8;
    }

.butonIcoStyle {
    border: none;
    background-color: var(--fundalPanel);
    cursor: pointer;
    padding-left: 20px;
}

.canvasStyle {
    width: 100%;
    height: 100%;
    position: absolute;
}